@layer components{
    .default_font{
        font-family: 'Inter', sans-serif;
        color:black;
        font-size:4rem;
        font-weight:900;
    }
    .heading1{
        font-family: 'Fredoka', sans-serif;
        color:black;
        font-size:60px;
        font-weight:700;
    }
    .heading2{
        font-family: 'Fredoka', sans-serif;
        color:black;
        font-size:50px;
        font-weight:600;
    }
    .heading3{
        font-family: 'Fredoka', sans-serif;
        color:black;
        font-size:35px;
        font-weight:600;
    }
    .heading4{
        font-family: 'Fredoka', sans-serif;
        color:black;
        font-size:32px;
        font-weight:500;
    }
    .paragraph1{
        font-family: 'Fredoka', sans-serif;
        color:black;
        font-size:28px;
        font-weight:400;
    }
    .paragraph2{
        font-family: 'Fredoka', sans-serif;
        color:black;
        font-size:20px;
        font-weight:400;
    }
}
